@import "cerulean-2.2.2.min.css";

/* Padding for nav bar */
body {
  padding-top: 64px;
}

.center {
  text-align: center;
}

/* Give some extra space to chapters */
.chapter {
    padding-top: 120px;
}

.done {
    text-decoration: line-through;
}

#logo {
  padding-bottom: 40px;
}
